
        <!-- Collect the nav links, forms, and other content for toggling -->
       
                        {{# if login }}
                            <li><a href="/user/profile">User Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Sign up</a></li>
                            <li><a href="/user/signin">Sign in</a></li>
                        {{/if}}
        


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sticker</h1>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/texti" method="post">
          Sticker Tag <input type="text" name="stickertag"><br>
          <button  type="submit" class="btn btn-primary" value="text">OK</button>
        </form>
    </div>
</div>

<section class="get"> 
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>text: {{ this.text }}</div>
            </article>
        {{/each}}
      </div> 
</section>
